<%= form_with scope: :todo, url: projects_path, id: "form-2", local:true do |f| %>
  <h3>НОВАЯ ЗАДАЧА</h3>
  <%=f.text_field :text, options = { placeholder: "Название задачи...", size: "12"}  %> </br>
  <%= f.collection_select( :project_id, Project.all, :id, :title) %> </br>
  <%= link_to 'ОТМЕНА', "#", id: "back" %></hr>
  <input type="submit" value="OK" class="link" />
<% end %>
