/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 *= require select2-bootstrap
 */

@import 'blue.css';
@import 'bootstrap-grid.min.css';



@font-face {
    font-family: 'OpenSans-Semibold';
  src: url('OpenSans-Semibold.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('OpenSans-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('OpenSans-Regular.ttf') format('truetype');
}
* {
    margin: 0;
}
body{
  background-color: white;
}

div.line {

  position: relative;
  bottom: -20px;
}
hr {
  color: #ebebeb
}
h5{
  padding: 20px;
  padding-bottom: 15px;
  font-family: OpenSans-Semibold;
  letter-spacing: -0.8px;
}
h5.formTitle {
  padding: 15px;
  font-family: OpenSans-Regular;
  text-align: center;
  letter-spacing: -0.5px;
}

.notCompletedToDo {
  position: relative;
  text-decoration: none;
 }
.completedToDo {
  position: relative;
  text-decoration: line-through;
  word-wrap: break-word;
}

.title h1 {
  font-size: 24px;
  padding: 20px 20px 20px 20px;
  font-family: OpenSans-Light;
  color: #ffffff;
  text-align: center;
}
div.project {
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.31);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.31);
  background-color: white;
  overflow: auto;
  padding-bottom: 20px;
  margin-bottom: 30px;


}
ul {
  list-style-type: none;

}

#addingField {
  padding: 20px;
  font-family: OpenSans-Regular !important;
}

#addingForm{
  border-width: 30px;
  background-color: white;
  width: 450px;
  height: 240px;
  position:absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  box-shadow: 0px 0px 0px 20000px rgba(0,0,0,0.71);
}

div.line {
  margin-bottom: 25px;
  margin-right: 35px;
}
div.row {
  margin: 20px;
}
div.title {
  background-color: #2489c5;
  height: 75px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  box-shadow: 0 0 1px 0 #2E2F30;
}
.title #add_todo {
  position: absolute;
  right: 30px;


}
.form-control {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid ;
  border-radius:  0 !important;
  border-color: #cccccc;
}
label {
  cursor: pointer;
  font-family: OpenSans-Light;

}

.addBtn {
  margin-top: 10px;
  padding: 10px;
  width: 49%;
  background: #2489c5;
  color: #ffffff;
  float: left;

  text-align: center;
  font-family: OpenSans-Semibold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  text-decoration: none;
}
.cancelBtn {
  margin-top: 10px;
  margin-right: 2%;
  padding: 10px;
  width: 49%;
  background: #9e9e9e;
  color: #ffffff;
  float: left;
  font-family: OpenSans-Semibold;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}


.selectList {
  display: block;
  margin: 20px;
  margin-bottom: 10px;
  width: 410px;

}
.todoField {
  border-radius: 0 !important;
  height: 40px !important;
  line-height: 40px !important;
  text-align: left;

}
.select2-selection, .select2-selection__rendered, .select2-selection__arrow {

  height: 40px !important;
  padding-left: 5px;


  span {
    line-height: 40px !important;
    text-align: left;

  }

}

.select2-selection {
    border-radius: 0 !important;

  display: block;
  width: 100%;
}
